<!DOCTYPE html>
<html class=" responsive" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#171a21">
</head>
<body class="v6 joinsteam verify_email responsive_page">

    <div style="font-family:Verdana,Arial;font-weight:normal;margin:0;padding:0;text-align:left;color:#333333;background-color:#ebebeb;background:#ebebeb;font-size:12px">

        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_3822848835174311868background-table" style="border-collapse:collapse;padding:0;margin:0 auto;background-color:#ebebeb;font-size:12px">
            <tbody>
                <tr>
                    <td valign="top" align="center" style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0;width:100%">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;padding:0;margin:0 auto;width:600px">
                            <tbody>
                                <tr>
                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:15px 0px 10px 5px;margin:0">
                                                        <a href="#" style="color:#3696c2;float:left;display:block" target="" data-saferedirecturl="https://www.google.com/url?q=https://u3219720.ct.sendgrid.net/wf/click?upn%3DqoxHvgpfIMjYhU9BQ8g4O-2FHRyKSh3zc6-2Bx3PKAz7sOCfgsKO9dNWFW71uf-2FS-2FReC_gs19dqParEApqB0Yp7rQP479KYAckE7hcUAaTnJkG1I4T0YNSyrWXFu5mrxhenEz6HM0Av1E0TJzvgXC5M-2BFIJg8voWW8ccNqAYlrWcuvHnlY63j5nHpKlWEyKbLQcIcEWUFufpibohlSIviO7N1OjaTEwyJBpKtJ50FvhFsIQWjT7hG6ym94qGEG1FkJaAs4UM39ZAgck16aHkdPNnYdJ2QGp3CXU1g17RaHJLiZVChcgtJqAHRRic4c2zUNHLc&amp;source=gmail&amp;ust=1588342620973000&amp;usg=AFQjCNEZvm-NX2uU7Ysy8mweIKKLFFTrXw">
                                                            <img width="136" height="59" src="http://localhost:8080/logo/logo.png" alt="CGV Cinemas" border="0" style="outline:none;text-decoration:none" class="CToWUd"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px;margin:0;border:1px solid #ebebeb;background:#fff">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0 1%;margin:0;background:#e1f0f8;border-right:1px dashed #c3ced4;text-align:center;width:58%">
                                                                        <h1 style="font-family:Verdana,Arial;font-weight:700;font-size:16px;margin:1em 0;line-height:20px;text-transform:uppercase;margin-top:25px">
                                                                            Thank you for your order from Booking System Cinemas.
                                                                        </h1>
                                                                        <p style="font-family:Verdana,Arial;font-weight:normal;line-height:20px;margin:1em 0">
                                                                            You can check the status of your order by <a href="localhost:4200/login" style="color:#3696c2" target="_blank" data-saferedirecturl="localhost:4200/login">logging
                                                                                into your account</a>.</p>
                                                                    </td>
                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:2%;margin:0;background:#e1f0f8;width:40%">
                                                                        <h4 style="font-family:Verdana,Arial;font-weight:bold;margin-bottom:5px;font-size:12px;margin-top:13px">
                                                                            Order Questions?</h4>
                                                                        <p style="font-family:Verdana,Arial;font-weight:normal;font-size:11px;line-height:17px;margin:1em 0">

                                                                            <b>Call Us:</b>
                                                                            <a href="#" style="color:#3696c2;text-decoration:underline" target="_blank">+84906767296</a><br><b>Email:</b> <a href="mailto:no-reply@cgv.vn" style="color:#3696c2;text-decoration:underline"
                                                                                target="_blank">no-reply@booking-system.vn</a>

                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px 15px;margin:0;text-align:center">

                                                        <p style="font-family:Verdana,Arial;font-weight:normal;font-size:11px;margin:1em 0 15px">
                                                            Order <span th:text="${bookingId}"></span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:10px 15px;margin:0;width:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px 15px;margin:0;text-align:center">
                                                                        <img th:src="@{'https://api.qrserver.com/v1/create-qr-code/?size=150x150&data='+${url}}" alt="Barcode." class="CToWUd"><br><br>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:10px 15px;margin:0;width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th style="font-family:Verdana,Arial;font-weight:700;padding:10px 15px;background:#f1f1f1;text-transform:uppercase;text-align:left;font-size:11px">
                                                                        Item in your order </th>
                                                                    <th style="font-family:Verdana,Arial;font-weight:700;padding:10px 15px;background:#f1f1f1;text-transform:uppercase;text-align:center;font-size:11px">
                                                                        Cinema name</th>
                                                                    <th style="font-family:Verdana,Arial;font-weight:700;padding:10px 15px;background:#f1f1f1;text-transform:uppercase;text-align:center;font-size:11px">
                                                                        Showtimes </th>
                                                                    <th style="font-family:Verdana,Arial;font-weight:700;padding:10px 15px;background:#f1f1f1;text-transform:uppercase;text-align:left;font-size:11px">
                                                                        Seat(s) </th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:10px 15px;margin:0;border-top:1px solid #ebebeb;text-align:left">
                                                                        <p style="font-family:Verdana,Arial;font-weight:bold;margin:0 0 5px 0;color:#636363;font-style:normal;text-transform:uppercase;line-height:1.4;font-size:14px;float:left;width:100%;display:block">
                                                                            <span th:text="${movieName}"></span></p>
                                                                    </td>
                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:10px 15px;margin:0;border-top:1px solid #ebebeb">
                                                                        <span th:text="${cinemaName}"></span> </td>

                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:10px 15px;margin:0;border-top:1px solid #ebebeb">
                                                                       <span th:text="${date}"></span> </td>

                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:10px 15px;margin:0;border-top:1px solid #ebebeb">
                                                                        <strong style="font-family:Verdana,Arial;font-weight:normal">
                                                                           <span th:text="${seats}"></span></strong>
                                                                        <br>
                                                                    </td>                                                                    
                                                                </tr>
                                                            </tbody>                                                          
                                                        </table>
                                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;width:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:10px 15px 0;margin:0;padding-top:10px;text-align:left">
                                                                        <h6 style="font-family:Verdana,Arial;font-weight:700;font-size:12px;margin-bottom:0px;margin-top:5px;text-transform:uppercase">
                                                                            Bill to:</h6>
                                                                        <p style="font-family:Verdana,Arial;font-weight:normal;font-size:12px;line-height:18px;margin-bottom:15px;margin-top:2px">
                                                                            <span><span th:text="${userName}"></span><br>
																			<span th:text="${address}"></span><br>
                                                                               <span th:text="${phone}"></span>

                                                                            </span></p>
                                                                    </td>

                                                                </tr>
                                                                <tr></tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">
                            Thank you, Booking System Cinemas!</h5>
                    </td>
                </tr>
            </tbody>
        </table>

        <img src="https://ci6.googleusercontent.com/proxy/sCQf_H1ctzt9M9xP1ht9cx16JJh3e0E63jv_m8s7efLiqN3GhsUrMrtLRzeLA_e-7tO5zRoDzFk21IltCRYRrQej-HKhMeFYu_ywnLepAm-ShTS4LfBgOGDW5ihkQxkRvdlq8B1yppuBahG5UD9SeQAPunsX6Wi_9gjntioKbc3V3CgPDyZ7_-TobNFLAlmpjSknwtWJXytuHwehpC4qXem91t2bkEO_FpE0apmUYitWyAh-c1Za61dJmCTu0-vmnDZSpBoU1SxV02RK-f35Jft8zSTURjfzB3kt4u7KxDqf8yx-ebyi-0RlN9CcGc0K1V9CHoROgEEKoPNCJlkyGgcx-ug-TPwXX2ItcfTOfMclLbNDwLdZ34KzORS84qDZKoPxDfrw-TE_MbUZ7Mx-507D5lKltMkSp0jPkbdZ59DBYtjtKAd3d79bxW_0B5zGJA=s0-d-e1-ft#https://u3219720.ct.sendgrid.net/wf/open?upn=gs19dqParEApqB0Yp7rQP479KYAckE7hcUAaTnJkG1I4T0YNSyrWXFu5mrxhenEz27el-2FT6f32IJ7Vlo7SeWhClwjvL6teM8ohCK8oPj5y0AohR-2BuNTiZ0CWw5RvdFemP-2FKaNKmyRBx-2ByOlQ9Omh-2BJ0xsYDAIwhHkWuiBMMgPMgtUw4FHOcR9z4k59pQNw1m1ujeDhL2v1CCLKalI3Ufa-2FBSB5N-2B1h-2B2jU6lIg5rEjKvoIfw49OYEyj3aeSwoNgp"
            alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"
            class="CToWUd">
    </div>
</body>

</html>