<!DOCTYPE html>
<html class=" responsive" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#171a21">
    <title>Email Verification</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/motiva_sans.css?v=FAK4O46_mOLB&amp;l=english" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/shared_global.css?v=8NcWJt2MVb-s&amp;l=english" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/buttons.css?v=6uRURryOh96m&amp;l=english" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/css/v6/store.css?v=REor-lSqoPvo&amp;l=english" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/css/v6/account.css?v=FHR19TjfZ4tI&amp;l=english" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/css/v6/steamaccount.css?v=YqNIj0d9c2x-&amp;l=english" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/joinsteam.css?v=wlCoZmGJdC55&amp;l=english" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/shared_responsive.css?v=Zo1pXmF7n6Yo&amp;l=english" rel="stylesheet" type="text/css">
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-33786258-1', 'auto', {
            'sampleRate': 0.4
        });
        ga('set', 'dimension1', false);
        ga('set', 'dimension2', 'External');
        ga('set', 'dimension3', 'account');
        ga('set', 'dimension4', "account\/validateemail");
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/shared/javascript/jquery-1.8.3.min.js?v=.TZ2NKhB-nliU"></script>
    <script type="text/javascript">
        $J = jQuery.noConflict();
    </script>
    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/shared/javascript/tooltip.js?v=.vG8yiuBTGwkE"></script>

    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/shared/javascript/shared_global.js?v=x2qS0PdIfZha&amp;l=english">
    </script>

    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/javascript/main.js?v=KqfoDIrzNBSa&amp;l=english"></script>

    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/javascript/prototype-1.7.js?v=.a38iP7Khdmyy"></script>

    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/javascript/scriptaculous/_combined.js?v=Me1IBxzktiwk&amp;l=english&amp;load=effects,controls,slider">
    </script>

    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/javascript/dynamicstore.js?v=wZTsIcYMIJvB&amp;l=english"></script>


    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(event) {
            $J.data(document, 'x_readytime', new Date().getTime());
            $J.data(document, 'x_oldref', GetNavCookie());
            SetupTooltips({
                tooltipCSSClass: 'store_tooltip'
            });
        });
    </script>
    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/javascript/youraccount.js?v=Vn_x_nxyUENu&amp;l=english"></script>
    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/shared/javascript/dselect.js?v=yT8Q5U2-O4wX&amp;l=english">
    </script>
    <script type="text/javascript" src="https://steamstore-a.akamaihd.net/public/shared/javascript/shared_responsive_adapter.js?v=TbBMCK37KgCo&amp;l=english">
    </script>

    <meta name="twitter:card" content="summary_large_image">

    <meta name="twitter:site" content="@steam" />

    <meta property="og:title" content="Email Verification">
    <meta property="twitter:title" content="Email Verification">
    <meta property="fb:app_id" content="105386699540688">
    <meta property="og:site" content="Steam">


    <link rel="image_src" href="https://steamstore-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
    <link rel="image_src" href="https://steamstore-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
    <meta property="og:image" content="https://steamstore-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
    <meta name="twitter:image" content="https://steamstore-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png" />
    <meta property="og:image:secure" content="https://steamstore-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
</head>

<body class="v6 joinsteam verify_email responsive_page">

    <div class="responsive_page_frame with_header">

        <div class="responsive_page_content">

            <div id="global_header">
                <div class="content">
                    <div class="logo">
                        <span id="logo_holder">
							<a href="#">
								<img src="http://localhost:8080/logo/logo.png"
									width="176" height="44">
							</a>
						</span>
                        <!--[if lt IE 7]>
			<style type="text/css">
				#logo_holder img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
				#logo_holder { display: inline-block; width: 176px; height: 44px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://steamstore-a.akamaihd.net/public/images/v5/globalheader_logo.png'); }
			</style>
			<![endif]-->
                    </div>

                </div>
            </div>
            <div id="responsive_store_nav_ctn"></div>
            <div data-cart-banner-spot="1"></div>
            <div class="responsive_page_template_content">


                <div class="page_content">

                    <div class="newaccount_email_verified_header">
                        <div class="newaccount_email_header_text">Email Verified</div>
                    </div>

                    <div id="main_content">
                        <div class="newaccount_email_verified_text">Thank you for verifying your email address with Cinema Booking System.
                        </div>
                        <div class="newaccount_email_verified_note">*You may safely close this window</div>
                    </div>
                </div>

            </div>
            <!-- responsive_page_legacy_content -->

            <div id="footer_spacer" style="" class="small_footer"></div>
            <div id="footer" class="small_footer">
                <div class="footer_content">

                    <div class="rule"></div>
                    <div id="footer_logo_steam"><img src="https://steamstore-a.akamaihd.net/public/images/v6/logo_steam_footer.png" alt="Valve Software" border="0" /></div>

                    <div id="footer_logo">
                        <a href="#" target="_blank" rel="noreferrer"><img src="http://localhost:8080/logo/logo.png" alt="Valve Software" border="0" /></a>
                    </div>
                    <div id="footer_text">
                        <div>&copy; 2020 Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.</div>
                        <div>VAT included in all prices where applicable.&nbsp;&nbsp;

                            <a href="https://store.steampowered.com/privacy_agreement/?snr=1_44_44_" target="_blank" rel="noreferrer">Privacy Policy</a> &nbsp; | &nbsp;
                            <a href="https://store.steampowered.com/legal/?snr=1_44_44_" target="_blank" rel="noreferrer">Legal</a> &nbsp; | &nbsp;
                            <a href="https://store.steampowered.com/subscriber_agreement/?snr=1_44_44_" target="_blank" rel="noreferrer">Steam Subscriber Agreement</a> &nbsp; | &nbsp;
                            <a href="https://store.steampowered.com/steam_refunds/?snr=1_44_44_" target="_blank" rel="noreferrer">Refunds</a>

                        </div>
                        <div class="responsive_optin_link">
                            <div class="btn_medium btnv6_grey_black" onclick="Responsive_RequestMobileView()">
                                <span>View mobile website</span>
                            </div>
                        </div>

                    </div>



                    <div style="clear: left;"></div>
                    <br>

                    <div class="rule"></div>

                    <div class="valve_links">
                        <a href="http://www.valvesoftware.com/about.html" target="_blank" rel="noreferrer">About
							Cinema Booking System</a> &nbsp; | &nbsp;<a href="http://www.steampowered.com/steamworks/" target="_blank" rel="noreferrer">Steamworks</a> &nbsp; | &nbsp;
                        <a href="http://www.valvesoftware.com/jobs.html" target="_blank" rel="noreferrer">Jobs</a> &nbsp; | &nbsp;<a href="https://partner.steamgames.com/steamdirect" target="_blank" rel="noreferrer">Steam Distribution</a> &nbsp; | &nbsp;
                        <a href="https://store.steampowered.com/digitalgiftcards/?snr=1_44_44_" target="_blank" rel="noreferrer">Gift Cards</a> &nbsp; | &nbsp;
                        <a href="https://steamcommunity.com/linkfilter/?url=http://www.facebook.com/Steam" target="_blank" rel="noopener"><img src="https://steamstore-a.akamaihd.net/public/images/ico/ico_facebook.gif"> Cinema System</a>
                        &nbsp; | &nbsp;
                        <a href="http://twitter.com/steam" target="_blank" rel="noreferrer"><img src="https://steamstore-a.akamaihd.net/public/images/ico/ico_twitter.gif"> @steam</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- responsive_page_content -->

    </div>
    <!-- responsive_page_frame -->
</body>

</html>